<div class="row" style="margin: 0px;">
	<div class="col-xs-12">
		<div class="row" style="height: 50px; line-height: 50px; background: #ccc; position: fixed;z-index: 100; width:100%; vertical-align: middle;">
			<button class="btn btn-md">Jobs Available</button>	
		</div>
		<div class="row" style="padding-top: 60px">
			<div class="col-xs-4">
				<img src="{{jobData?.company?.logo}}" alt="Smiley face" height="100" width="100">
			</div>
			<div class="col-xs-8">
				<div>{{jobData?.title}}</div>
				<div>{{jobData?.company?.name}}</div>
				<div>{{jobData?.wagePerHourInCents/100 |  currency:'USD':true:'1.2-2'}}/hour</div>
				<div *ngIf="jobData?.shifts.length>0">
					{{jobData?.shifts[0].startDate | dateFormat:"short"}} - 
					{{jobData?.shifts[jobData?.shifts.length-1].endDate | date}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div>If you like this job you are agreeing to work ALL DAYS.</div>
				<div *ngFor="let item of jobData?.shifts">
					<span>{{item.startDate | dateFormat }}</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div>Location</div>
				<div>{{jobData?.company?.address}}</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div>Branch</div>
				<div>{{jobData?.branch}}</div>
				<div>{{jobData?.branchPhoneNumber}}</div>
			</div>
		</div>
	</div>
</div>